<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Happy</string>
	<key>uuid</key>
	<string>399416eb-d3a0-41eb-802e-427c07cf2940 </string>
</dict>
</plist>
